<link href="../../bootstrap-3.3.7/docs/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../../bootstrap-3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link href="../../bootstrap-3.3.7/docs/examples/justified-nav/justified-nav.css" rel="stylesheet">
<script src="../../bootstrap-3.3.7/docs/assets/js/ie-emulation-modes-warning.js"></script>


<div class="container">
    <div class="masthead">
      <h3 class="page-header" style="text-align: center; font-size: 45px;">Walk for Meals</h3>
      <nav>
        <ul class="nav nav-justified">
          <li><a href="../">Home</a></li>
          <li><a href="../user/signIn">User Login/Sign Up</a></li>
          <li><a href="/aboutUs">About Us</a></li>
          <li><a href="../restaurant/signIn"">Restaurant Login/Sign Up</a></li>
          <li><a href="../users/location">User's Contributions</a></li>
        </ul>
      </nav>
    </div>

    <h2>About Us</h2>
    <h3>We are a bunch of optimistic students who think technology when used wisely, will help us fight the biggest challenges in our community. This platform is an example of 
    one. Here is how it works:</h3>

    <h3>Pedestrians: Whenever pedestrians walk on the streets and encounter homeless people, all they have to do is add their location in our database and in the comments section, tell us about the necessary details like where exactly on that inersection and how many people were there, you get the idea.</h3>

    <h3>Restaurants: Restaurants will use the database pedestrians have contributed to, to pick a location close to their restaurant location and deliever food, all at their cost. What pedestrians can do optianlly to support our partnering restaurats is pay an extra 10% on top of their orders to which will go towards our mutual goal to fight hunger on the streets of our great city, New York.</h3>

    <footer class="footer">
        <p>&copy; Walk for Meals, Inc.</p>
    </footer>
    
</div>