<link href="../../bootstrap-3.3.7/docs/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../../bootstrap-3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link href="../../bootstrap-3.3.7/docs/examples/justified-nav/justified-nav.css" rel="stylesheet">
<script src="../../bootstrap-3.3.7/docs/assets/js/ie-emulation-modes-warning.js"></script>
<style>
  #map {
    height: 400px;
    width: 100%;
  }
</style>


<div class="container">
    <div class="masthead">
      <h3 class="page-header" style="text-align: center; font-size: 45px;">Walk for Meals</h3>
      <nav>
        <ul class="nav nav-justified">
          <li><a href="/">Home</a></li>
          <li><a href="../../user/signIn">User Login/Sign Up</a></li>
          <li><a href="../../aboutUs">About Us</a></li>
          <li><a href="../../restaurant/signIn"">Restaurent Login/Sign Up</a></li>
          <li><a href="../../users/location">User's Contributions</a></li>
        </ul>
      </nav>
    </div>
    
    <h2 style="text-align: center;">Our partnering restaurants who take great pride in what they do!</h2>

    <table align="center" border="4" style="align-content: left;">
      <thead>
        <th style="align-content:center;">Restaurant Name</th>
        <th style="align-content:center;">Location</th>
        <th style="align-content:center;">Total Deliveries</th>
      </thead>
      <tbody> 
        {{#each restaurants}}            
          <tr>    
              <td>{{ restaurantName }}</td>

              <td>{{ address }}</td>

              <td>{{ totalDeliveries }}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="jumbotron">
      <h2>Locations of our partnering Restaurants in New York!</h2>
      <div id="map"></div>
      
      <script src="../js/googlemaps.js"></script>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz-nbw5EVKIvpxrq9muqmN3swwLJIA0Jc&callback=getData">
      </script>
    </div>

    <footer class="footer">
        <p>&copy; Walk for Meals, Inc.</p>
    </footer>
</div>