<link href="bootstrap-3.3.7/docs/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="bootstrap-3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link href="bootstrap-3.3.7/docs/examples/justified-nav/justified-nav.css" rel="stylesheet">
<script src="bootstrap-3.3.7/docs/assets/js/ie-emulation-modes-warning.js"></script>
<style>
  #map {
    height: 400px;
    width: 100%;
  }
</style>


<div class="container">
    <div class="masthead">
      <h3 class="page-header" style="text-align: center; font-size: 45px;">Walk for Meals</h3>
      <nav>
        <ul class="nav nav-justified">
          <li class = "active"><a href="/">Home</a></li>
          <li><a href="/user/signIn">User Login/Sign Up</a></li>
          <li><a href="/aboutUs">About Us</a></li>
          <li><a href="/restaurant/signIn">Restaurant Login/Sign Up</a></li>
          <li><a href="/users/location">User's Contributions</a></li>
        </ul>
      </nav>
    </div>

    <div class="row">
        <div class="col-lg-6">
          <h2>Users; want to see all of our partnering restaurants?</h2>
          <p>Our restaurants take pride in what they do. With the help of your contributions, both in giving us locations and optionally paying 10% more on your food orders at our restaurants, our restaurants pick a minimum of 10 locations a day to deliver fresh food to fight hunger in the streets of New York.</p>
          <p><a class="btn btn-primary" href="/all/restaurants" role="button">See our partnering restaurants! &raquo;</a></p>
        </div>
        
        <div class="col-lg-6">
          <h2>Restaurants; want to pick up a new location?</h2>
          <p>Pickup a location from our database which is continously updated by our enthusiastic users and play your part as we take on hunger in the streets of New York.</p>
          <p><a class="btn btn-primary" href="/restaurants/pickLocation" role="button">Pick a location! &raquo;</a></p>
        </div>
    </div>

    <div class="jumbotron">
      <h2>See the locations of our partnering Restaurants in New York!</h2>
      <div id="map"></div>
      
      <script src="js/googlemaps.js"></script>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz-nbw5EVKIvpxrq9muqmN3swwLJIA0Jc&callback=getData">
      </script>
    </div>

    <footer class="footer">
        <p>&copy; Walk for Meals, Inc.</p>
    </footer>
</div>