<title>Sign In - Walk for Meals</title>
<link href="../../bootstrap-3.3.7/docs/examples/justified-nav/justified-nav.css" rel="stylesheet" type="text/css">
<link href="../../bootstrap-3.3.7/docs/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../../bootstrap-3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link href="../../bootstrap-3.3.7/docs/examples/signin/signin.css" rel="stylesheet">
<script src="../../bootstrap-3.3.7/docs/assets/js/ie-emulation-modes-warning.js"></script>

<div class="masthead">
  <h3 class="text-muted" style="text-align: center; font-size: 45px;">Walk for Meals</h3>
  <nav>
    <ul class="nav nav-justified">
      <li><a href="../../">Home</a></li>
      <li class = "active"><a class = "active" href="../../user/signIn">User Login/Sign Up</a></li>
      <li><a href= "../../aboutUs">About Us</a></li>
      <li><a href="../../restaurant/signIn">Restaurant Login/Sign Up</a></li>
      <li><a href="../../users/location">User's Contributions</a></li>
    </ul>
  </nav>
</div>

{{#if error}}
  <h3>{{ error }}</h3>
{{/if}}

<form name="signIn" class="form-signin" action="../../user/signIn" method="POST">
  <h2 class="form-signin-heading">Please sign in</h2>
  <label for="userName" class="sr-only" id="userNameSignIn">Username</label>
  <input type="text" class="form-control" name="userName" placeholder="Username" required autofocus>
  <label for="password" class="sr-only" id="passwordSignIn">Password</label>
  <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" id="userLoginSubmit" type="submit">Sign in</button>
</form>

<form name="register" class="form-register" action="../../user/register" method="POST">
  <h2 class="form-signin-heading">Please register if you are new</h2>
  <label for="fullName" class="sr-only" id="fullNameRegistration">Full Name</label>
  <input type="text" class="form-control" name="fullName" placeholder="Full Name" required autofocus>
  
  <label for="userName" class="sr-only" id="userNameRegistration">Username</label>
  <input type="text" class="form-control" name="userName" placeholder="Username | Atleast 8 characters" required autofocus>
  
  <label for="email" class="sr-only" id="emailRegistration">Email address</label>
  <input type="email" class="form-control" name="email" placeholder="Email address" required autofocus>
  
  <label for="password" class="sr-only" id="passwordRegistration">Password</label>
  <input type="password" class="form-control" name="password" placeholder="Password | Atleast 8 characters" required>
  
  <button class="btn btn-lg btn-primary btn-block" id="userRegistrationSubmit" type="submit">Register</button>


  <footer class="footer">
        <p>&copy; Walk for Meals, Inc.</p>
  </footer>
</form>